<div id="books" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Books</h3>
    </div>
    {{#each this}}
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="images/{{this.name}}.png">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Title: {{this.name}}</h4>
                <ul class="list-group">
                    <li>Price: {{this.price}}</li>
                    <li>Category: {{this.category}}</li>
                    <li>Author: {{this.author}}</li>
                    <li>Pages: {{this.pages}}</li>
                    <li>Cover: {{this.cover}}</li>
                    <li>Summary: {{this.summary}}</li>
                </ul>
            </div>
        </div>
    {{/each}}
</div>
