<div id="comics" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Comics</h3>
    </div>
    {{#each this}}
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="images/{{this.id}}.jpg" width="150px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Title: {{this.name}}</h4>
                <ul class="list-group">
                    <li>Price: {{this.price}}</li>
                    <li>Category: {{this.category}}</li>
                    <li>Author: {{this.author}}</li>
                    <li>Pages: {{this.pages}}</li>
                    <li>Superhero name: {{this.superheroName}}</li>
                    <li>Publisher: {{this.publisher}}</li>
                </ul>
            </div>
        </div>
    {{/each}}
</div>
