<div id="home">
  <div class="landing-image-container">
      <div id="landing-image-wrapper">

    </div>
  </div>

    <h1 id="landing-title">X E-Library</h1>
    <div id="down-btn" class="arrow bounce">
    </div>
<div class="home-products-container">
    <div id="home-products">
        <h2 id="home-products-title">Latest Products</h2>
        <div class="products-slider">
            <ul>
                {{#each this}}
                    {{#each books}}
                        <li>
                            <div class="single-product-wrapper">
                                <h2 class="landing-product-title">{{this.name}}</h2>
                                <img class="landing-product-image" src="{{this.img}}">
                                <p class="landing-product-price">
                                    {{this.price}} $
                                </p>
                                <p>
                                    {{this.author}}
                                </p>
                            </div>
                        </li>
                    {{/each}}
                    {{#each cds}}
                        <li>
                            <div class="single-product-wrapper">
                                <h2 class="landing-product-title">{{this.name}}</h2>
                                <img class="landing-product-image"  src="{{this.img}}">
                                <p class="landing-product-price">
                                    {{this.price}} $
                                </p>
                            </div>
                        </li>
                    {{/each}}
                    {{#each dvds}}
                        <li>
                            <div class="single-product-wrapper">
                                <h2 class="landing-product-title">{{this.name}}</h2>
                                <img class="landing-product-image"  src="{{this.img}}">
                                <p class="landing-product-price">
                                    {{this.price}} $
                                </p>
                            </div>
                        </li>
                    {{/each}}
                    {{#each comics}}
                        <li>
                            <div class="single-product-wrapper">
                                <h2 class="landing-product-title">{{this.name}}</h2>
                                <img class="landing-product-image"  src="{{this.img}}">
                                <p class="landing-product-price">
                                    {{this.price}} $
                                </p>
                            </div>
                        </li>
                    {{/each}}
                    {{#each magazines}}
                        <li>
                            <div class="single-product-wrapper">
                                <h2 class="landing-product-title">{{this.name}}</h2>
                                <img class="landing-product-image"  src="{{this.img}}">
                                <p class="landing-product-price">
                                    {{this.price}} $
                                </p>
                            </div>
                        </li>
                    {{/each}}
                {{/each}}
            </ul>
        </div>
    </div>
  </div>
</div>
