<div id="{{this.id}}" class="items">
        <div class="item-container">
            <div>
                <ul class="item-properties">
                  <li><h3>{{this.name}}</h3></li>
                    <li>${{this.price}}</li>
                    <li>{{this.premiereYear}}</li>
                </ul>
                <img src="{{this.img}}" width="150">
                <ul class="item-properties">

                    <li><span>Category:</span> {{this.category}}</li>
                    <li><span>Rating:</span> {{this.rating}}</li>
                    <li><span>Duration:</span> {{this.duration}}</li>
                    <li><span>Summary:</span> {{this.summary}}</li>
                </ul>
            </div>
        </div>
    </div>
