<div id="{{this.id}}" class="items">
        <div class="item-container">
            <div>
                <ul class="item-properties">
                  <li><h3>{{this.name}}</h3></li>
                    <li>${{this.price}}</li>
                    <li>{{this.author}}</li>
                </ul>
                <img src="images/{{this.id}}.jpg" width="150">
                <ul class="item-properties">

                    <li><span>Category:</span> {{this.category}}</li>
                    <li><span>Number of pages:</span> ${{this.pages}}</li>
                    <li><span>Superhero name:</span> {{this.superheroName}}</li>
                    <li><span>Publisher:</span> {{this.publisher}}</li>
                </ul>
            </div>
        </div>
    </div>
