
<div id="{{this.id}}" class="items">
        <div class="item-container">
            <div>
                <ul class="item-properties">
                    <li><a href="#/products/books/:id"><h3>{{this.name}}</h3></a></li>
                    <li>${{this.price}}</li>
                </ul>
                <img src="images/{{this.id}}.jpg" width="150">
                <ul class="item-properties">
                    <li><a href="#/products/books/:id"><h3>{{this.name}}</h3></a></li>
                    <li>${{this.price}}</li>
                </ul>
            </div>
        </div>
    </div>
